@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import './mixins.scss';
@import './reset.scss';
@import './constants.scss';

.main {
  @include theme-aware('background', 'background');
  @include theme-aware('color', 'text');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.theme_light {
  $background: #f5f5f5;
  $foreground: #eaecef;
  $border-active: #0395ff;
  $border: #dce0e3;
  $accent: #0395ff;
  $text: #202b3b;
  $text-secondary: #9399a2;
}
.theme_dark {
  $background: #0a131e;
  $foreground: #202b3b;
  $border-active: #0561a5;
  $border: #35455e;
  $accent: #0395ff;
  $text: #fff;
  $text-secondary: #9399a2;
}